@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/tramacocina.jpg);
	font-family: Rosario;
}

main{
	width: 1280px;
	height: 720px;
	background-color: #82589F;
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 100%;
	height: 120px;
	background-color: #ededed;
	padding-left: 560px;
	padding-top: 25px;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #2e364b;
	padding-top: 4px;
}

section{
	width: 100%;
	height: 500px;
	background-color: #182C61;
}

footer{
	width: 100%;
	height: 50px;
	background-color: #0c162d;
}

#izquierda{
	width: 70%;
	height: 500px;
	background-color: #ededed;
	float: left;
	padding: 50px;
	padding-left: 70px;
}

#derecha{
	width: 30%;
	height: 500px;
	background-color: #ededed;
	float: left;
	padding: 105px;
}

.logo1{
	width: 150px;
	height: 64px;
	background-color: ##ededed;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	float: left;
}

a {
  color: #ededed;
  text-decoration: none;
}

.boton1{
	width: 80px;
	height: 40px;
	background-color: #2e364b;
	margin-top: 0px;
	padding: 6px;
	padding-left: 12px;
	margin-left: 50px;
	margin-right: auto;
	font-size: 12px;
	color: #ededed;
	border-radius: 10px;
	border-color: #2e364b;
	border-style: solid;
	border-width: 3px;
	float: left;
}

.boton2{
	width: 150px;
	height: 40px;
	background-color: #2e364b;
	margin-top: 0px;
	padding: 6px;
	padding-left: 40px;
	margin-left: 680px;
	margin-right: auto;
	font-size: 12px;
	color: #ededed;
	border-radius: 10px;
	border-color: #2e364b;
	border-style: solid;
	border-width: 3px;
	float: left;
}

.boton3{
	width: 150px;
	height: 40px;
	background-color: #2e364b;
	margin-top: 0px;
	padding: 6px;
	padding-left: 36px;
	margin-left: 0px;
	margin-right: auto;
	font-size: 12px;
	color: #ededed;
	border-radius: 10px;
	border-color: #2e364b;
	border-style: solid;
	border-width: 3px;
	float: left;
}

.boton4{
	width: 150px;
	height: 40px;
	background-color: #2e364b;
	margin-top: 0px;
	padding: 6px;
	padding-left: 40px;
	margin-left: 0px;
	margin-right: auto;
	font-size: 12px;
	color: #ededed;
	border-radius: 10px;
	border-color: #2e364b;
	border-style: solid;
	border-width: 3px;
	float: left;
}

.titulo1{
	color: #2e364b;
	font-size: 24px;
}

.titulo2{
	color: #2e364b;
	font-size: 24px;
}

.contenedor{
  display: flex;
  gap: 0,3rem;
  align-items: flex-start;
}

.imagen-con-texto {
  position: relative;
  flex: 1;
}

.imagen-con-texto {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.texto-superpuesto {
  position: absolute;
  bottom: 150px;
  left: 60px;
  color: white;
  padding: 10px 15px;
  float: left;

 }

.titulo2a{
	color: #2e364b;
	font-size: 19px;
}

.descripcion{
	color: #2e364b;
	font-size: 14px;
}

.ingredientes{
	color: #2e364b;
	font-size: 14px;
}

.cuadrado{
	width: 279px;
	height: 230px;
	background-color: #ededed;
	margin-top: 20px;
	padding: 0px;
	margin-left: 50px;
	margin-right: auto;
	color: #0c162d;
	font-size: 10px;
	border-radius: 10px;
	border-color: #ededed;
	border-style: solid;
	border-width: 3px;
	float: left;
}

.imagen1{
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%; /* o un valor fijo como 300px */
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.cuadrado2{
	width: 279px;
	height: 188px;
	background-color: #ededed;
	margin-top: 20px;
	padding: 0px;
	margin-left: 110px;
	margin-right: auto;
	color: #0c162d;
	font-size: 10px;
	border-color: #ededed;
	border-style: solid;
	border-width: 3px;
	float: left;
}

.imagen2{
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%; /* o un valor fijo como 300px */
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.pasos{
  flex: 1;
  padding: 1rem;
  border-radius: 12px;
}

.cuadrado3{
	width: 279px;
	height: 188px;
	background-color: #ededed;
	margin-top: 153px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: auto;
	color: #0c162d;
	font-size: 10px;
	border-radius: 10px;
	border-color: #ededed;
	border-style: solid;
	border-width: 3px;
	float: right;
}

.imagen3{
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%; /* o un valor fijo como 300px */
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.logo2{
	width: 57px;
	height: 42px;
	background-color: #0c162d;
	margin-left: 50px;
	padding-top: 4px;
	float: left;
}

.nombre{
	width: 100px;
	height: 30px;
	background-color: #0c162d;
	margin-left: 1020px;
	margin-top: 10px;
	padding-top: 7px;
	font-size: 13px;
	color: #ededed;
	float: left;
}